body {
  font-family: "Turret Road", sans-serif;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(250, 145, 53), rgb(246, 241, 111)), url("binary.png");
  background-blend-mode: normal;
  margin: 0;
  border: 10px solid black;
  border-radius: 9%;
  color: black;
}
.signature{
  width: 10%;
  display: flex;
  position: relative;
  float: right;
  margin-top: -9%;
  margin-right: 3%;
}
.secret{
  display: none;
}
.suspicious:hover + .secret {
  display: block;
}
.suspicious:hover::after {
  content: "Hey! I told you there was nothing to see"; /* Changes the text when hovered */
}
#cross{
  text-decoration:line-through;
}
p{
  font-size: 25px;
  margin: 10px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
a{
  text-decoration: none;
  font-size: 40px;
  align-content: center;
  color: black;
}
li{
  font-size: 30px;
}
.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, black 50%, transparent 100%) 1;
  width: 80%;
  height: auto;
  position: relative;
  flex-wrap: wrap;
}
.limited {
  position: absolute; 
  top: 20%;
  right: -15%;
  transform: rotate(40deg);
}

.header h1 {
  font-size: 80px;
  font-style: italic;
  position: relative;
  padding-right: 10px;
  display: flex;
}
.power {
  display: flex;
  font-size: 50px;
  position: relative;
  padding-left: 10px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  position: relative;
  float: right;
  right: 10%;
}
img{
  width: 100%;
  height: auto;
}
.me{
  width: 100%;
  height: auto;
  display: block;
  border: 5px solid black;
  margin: auto;
}
  
.footer {
  padding: 20px;
  margin-top: 20px;
}
.navbar{
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  display: flex;
  background-color: rgb(246, 241, 111);
  height: auto;
  justify-content: space-between;
}
.homeLink:hover {
  background-color: rgb(250, 145, 53);
  color: black;
}
.homeLink{
  padding-left: 5px;
  padding-right: 5px;
}
#active{
  background-color: rgb(250, 145, 53);
  color: black;
  margin: 10px;
}
button{
  color: antiquewhite;
  background-color: red;
  width: 30%;
  height: auto;
  font-weight: bold;
  font-size: 20px;
}
.limited {
  font-weight: bold;
  transition: transform 0.4s ease-in-out;
}
.workImg{
  width: 50%;
  height: auto;
  display: inline-block;
}
.limited:hover {
  transform: scale(1.5);
}
h1:hover {
  transform: scale(1.1);
}
.showcase {
  margin: 5px auto;
  border: 1px solid rgb(246, 241, 111);
  position: relative;
  width: 75%;
  align-items: center;
  justify-self: center;
  padding: 5px;
  text-align: center;
}
.description{
  font-size: 25px;
  text-align: left;
}
.showcase:hover{
  transform: scale(1.1);
}

.navbar .icon {
  display: none;
  /* hides navbar icon when widescreen*/
}
.navbar {
  overflow: hidden;
   /* doesnt allow text to overflow*/
}
.navbar .icon {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  /* sets the styles and position for the navbar icon on the small screen navbar*/
}

.imgOverlay {
  position: relative;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  left: 25%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.imgOverlay:hover .overlay {
  width: 100%;
  left: 0;
}
.txt {
  color: rgb(246, 241, 111);
  font-size: 30px;
  position: absolute;
  top: 30%;
}
#comic{
  font-family: "Comic Sans MS";
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotate {
  animation: rotate 1.5s ease-in-out;
}

@media screen and (max-width: 550px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}    /* changes the navbar to just show home when screen is small*/

@media screen and (max-width: 550px) {
  .navbar.responsive {
      position: relative;
      display: flex;
      flex-direction: column;}    /* sets the position of the items in the small screen nav bar to display in a column*/
  .navbar.responsive a.icon {
    position: absolute;    /* sets the position of the small screen nav bar icon*/
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: flex;
    text-align: center;
    justify-content: center;
    /* sets the position of the small screen nav bar */
  }
  .limited{
    display: none;
  }
}