body {
  font-family: "Turret Road", sans-serif;
  padding: 10px;
  background-color: rgb(255, 119, 0);
  margin: 0;
  border: 10px solid black;
  border-radius: 10%;
  color: antiquewhite;
}

.header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, black 50%, transparent 100%) 1;
    width: 80%;
    height: auto;
    position: relative;
    flex-wrap: wrap;
}
  
.header h1 {
    font-size: 80px;
    font-style: italic;
    position: relative;
    padding-right: 10px;
    display: flex;
}
.power {
  display: flex;
  font-size: 50px;
  position: relative;
  padding-left: 10px;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
  position: relative;
  float: right;
  right: 10%;
}

img{
  width: 100%;
  height: auto;
}
.me{
  width: 40%;
  height: auto;
  display: flex;
  justify-self: center;
  border: 5px solid black;
}
  
.footer {
  padding: 20px;
  margin-top: 20px;
}
  