body {
  font-family: "Turret Road", sans-serif;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(250, 145, 53), rgb(246, 241, 111)), url("binary.png");
  background-blend-mode: normal;
  margin: 0;
  border: 10px solid black;
  border-radius: 9%;
  color: black;
}
.signature{
  width: 10%;
  display: flex;
  position: relative;
  float: right;
  margin-top: -9%;
  margin-right: 3%;
}
.secret{
  display: none;
}
.suspicious:hover + .secret {
  display: block;
}
.suspicious:hover::after {
  content: "Hey! I told you there was nothing to see"; /* Changes the text when hovered */
}
#cross{
  text-decoration:line-through;
}
p{
  font-size: 25px;
  margin: 10px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
a{
  text-decoration: none;
  font-size: 40px;
  align-content: center;
  color: black;
}
li{
  font-size: 30px;
}
.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, transparent 0%, black 50%, transparent 100%) 1;
  width: 80%;
  height: auto;
  position: relative;
  flex-wrap: wrap;
}
.limited {
  position: absolute; 
  top: 20%;
  right: -15%;
  transform: rotate(40deg);
}

.header h1 {
  font-size: 80px;
  font-style: italic;
  position: relative;
  padding-right: 10px;
  display: flex;
}
.power {
  display: flex;
  font-size: 50px;
  position: relative;
  padding-left: 10px;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
  position: relative;
  float: right;
  right: 10%;
}

img{
  width: 100%;
  height: auto;
}
.me{
  width: 40%;
  height: auto;
  display: flex;
  justify-self: center;
  border: 5px solid black;
}
  
.footer {
  padding: 20px;
  margin-top: 20px;
}
nav{
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  display: flex;
  background-color: rgb(246, 241, 111);
  height: auto;
  justify-content: space-between;
}
.homeLink:hover {
  background-color: rgb(250, 145, 53);
  color: black;
}
.homeLink{
  padding-left: 5px;
  padding-right: 5px;
}
#active{
  background-color: rgb(250, 145, 53);
  color: black;
  margin: 10px;
}
button{
  color: antiquewhite;
  background-color: red;
  width: 30%;
  height: auto;
  font-weight: bold;
}
.limited {
  font-weight: bold;
  transition: transform 0.4s ease-in-out;
}
.workImg{
  width: 50%;
  height: auto;
}
.limited:hover {
  transform: scale(1.7);
}
h1:hover {
  transform: scale(1.1);
}
.showcase {
  margin: 5px auto;
  border: 1px solid rgb(246, 241, 111);
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  justify-self: center;
}
.showcase:hover{
  transform: scale(1.1);
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotate {
  animation: rotate 1.5s ease-in-out;
}